* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

#crsr{
    width: 2.7vw;
    height: 2.7vw;
    border: 1px solid rgba(255, 255, 255, 0.598);
    border-radius: 50%;
    z-index: 999;
    position: fixed;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
    /* display: none; */
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.line #line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.line #line1-part1 h5{
    width:5vw;
    text-align: right;
}

#line1-part1 *{
    font-family:"silk serif";
    font-weight: 100;
    font-size: 3vw;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
}
.line h2{
    font-size: 4.5vw;
    font-weight: 900;
    text-transform: uppercase;
    animation: anime 1s infinite;
}
#loader>h6{
    position: relative;
    left: 27%;
    top: 18%;
    font-size: 1.1vw;
    font-weight: 100;
}
@keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-weight: 500;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-family: "silk serif";
        opacity: 1;
    }
    
    100%{
        font-weight: 500;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-family: "silk serif";
        opacity: 0;
    }
}


#main{
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.1vw 4.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font-size: 1vw;
    font-weight: 100;
}
.hero {
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 9999;
}
.hero h1{
    line-height: 7.2vw;
    font-size: 7.2vw;
    text-transform: uppercase;
    font-weight: 600;
}
.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h2{
    line-height: 7.2vw;
    font-size: 7.2vw;
    text-transform: uppercase;
    font-weight: 600;
    &:hover{
        -webkit-text-stroke: 2px #fff;
        color: transparent;
        font-weight: 500;
    }
    /* &::before{
        content: "";
        height: 1vh;
        width: 100%;
        background-color: #fff;
        position: absolute;
        bottom: -1vh;
    } */
}

